<div class="row">
<h2>Edit Post</h2>

<%= form_for [@city, @post] do |f| %>
  <%= f.label :title, :class => 'textbox1' %>
  <br />
  <%= f.text_field :title, :class => 'textbox1'  %>

  <%= f.label :review, :class => 'textbox2'  %>
  <br />
  <%= f.text_field :review, :class => 'textbox2'  %>
  <br />
  <%= f.submit :class => "btn btn-info"%>
<% end %>
</div>