<div class="postHeader">
        <%= image_tag @city.photo_url, :class => "city_header"%>
        <h1><%= @city.name %></h1>
</div>

<div class="row">
    <div class="buttonRow">
    <%= link_to 'Add New Post', new_city_post_path, {class: 'btn btn-info'}%>
    </div>

<% @posts.each do |post| %>
<h3>
    <strong>
        Post Title:
    </strong> 
    <%= link_to post.title, city_post_path(post.city_id, post.id) %>
</h3>

<!-- <p>
    <strong>
        Post Id: 
    </strong>
    <%= post.id %>
</p> -->
<p>
    <strong>
        Post Review: 
    </strong>
        <%= post.review %>
</p>

<p>
    <strong>
        Post Created At: 
    </strong>
        <%= post.created_at %>
</p>

<p class="date">
        Submitted <%= time_ago_in_words(post.created_at) %> Ago    
    </p>

<% end %>
<%= will_paginate @posts %>
</div>