<div class="row">
    <h1 style="text-align:center">New Review Post</h1>


<%= form_for [@city, @post] do |f| %>

<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
        <%= f.label :review %>
        <%= f.text_field :review %>
</p>
<p>
        <%= f.submit :class => "btn btn-info"%>
</p>

<% end %>
</div>