<h1>New Review Post</h1>


<%= form_for @post do |f| %>

<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
</p>
<p>
        <%= f.label :review %>
        <%= f.text_field :review %>
</p>
<p>
        <%= f.submit %>
</p>

<% end %>
